.card-container {
  width: 120px;
  min-height: 150px;
  background-color: rgba(13, 110, 253, 0.1); /* var(--bs-blue) con opacidad */
  border: 1px solid var(--bs-blue);
  cursor: pointer;
  transition: transform 0.2s ease;
}

.card-container:hover {
  transform: scale(1.05);
}

.pokemon-sprite-container {
  max-width: 80px;
}

.card-text {
  font-size: 0.95rem;
}
