html {
    height: 100%;
}

body {
    height: 100%;
    background-image: url('../public/background.jpg');
    background-position: center;
    background-size:cover;
    background-attachment: fixed;
}
